<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GeoQuest</title>

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/underscore/underscore-min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src="/static/app.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  
  <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
	<div class = "container-fluid">
	<div class = "row" style= "background: gray">
		
		<div class= "col-lg-4 col-md-4 col-sm-4">
		<p style= 'font-size: 200%'>Nav bar Here</p>
	</div>
	<div class= "col-lg-4 col-md-4 col-sm-4"></div>
	<div class= "col-lg-4 col-md-4 col-sm-4" 
		<form>
			<input type = "text">
			<input type = "submit">
		</form>
		<button type="btn">Add Quest Btn</button></div></div>
	
		
	

	<div class = "row">

	<div class = "col-lg-4 col-md-6 col-sm-6" style = "background: blue">
		<h2> Quest list here</h2>
		<ul>
			<li> Quest Template Here <br>
				------------------<br>
				-------------------<br>
			</li>
			<li> Quest Template Here <br>
				------------------<br>
				-------------------<br>
			</li>
			<li> Quest Template Here <br>
				------------------<br>
				-------------------<br>
			</li>
		</ul>
	</div>
	<div class = "col-lg-4 col-md-6 col-sm-6" style= "background: red">
		<h1> Map Here</h1>
		<img src = "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1f8J1K_r9_3oy2s5vnjgNLX_zD3hdMbl2HjanVOKTsAXDTIx3BgALMQ">
		<h3> Map info here </h3>
		<ul>
			<li> blaha blaha lbaha <br> 
				blaha blaha blaha <br>
				blajb lbahba blabj </li>
	</div>
</div>
</div>



</body>
</html>